*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    color: #333333;
    background-image:linear-gradient(45deg, black,white);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#text   
{
    font-family: Space Mono;
}
#text h1
{
    font-weight: bolder;
    font-size: 40px;
    margin-top: 0;
}
#text p
{
    font-size: 25px;
}
h4
{
    margin-left: 77px;
    color: white;
}
section
{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
#img
{
    margin-left: 77px;
}
#text
{
    width: 400px;
    margin-right: 180px;
}
#text button
{
    border: none;
    color: white;
    padding: 20px;
    background-color: #333333;
    margin-top: 30px;
    transition: 0.5s ease-in-out;
}
#text button:hover
{
    box-shadow: 2px 2px 4px 2px black;

    cursor: pointer;
}
section::after
{
    content: "";
    display: table;
    clear: both;
}
footer
{
    text-align: center;
    margin-top: 100px;
    color: white;
}
@media (max-width:1230px)
{
    section
    {
        flex-direction: column;
        align-items: center;
    }
    #text
    {

        margin: 0 auto;
    }
}
@media (max-width:768px)
{
    h4
    {
        margin: 0;
    }
    #img
    {
        max-width: 100%;
        height: auto;
        margin: 0;
    }
    #text
    { 
        margin: 0 auto;
    }
    #text h1
    {
        font-size: 45px;
    }
    footer p
    {
        margin-left: auto;
        margin-right: auto;
    }
    body
    {   
        background-image: none!important;
        background-color: #858282;
    }
}
@media (max-width:1200px)
{
    body
    {   
        background-image: linear-gradient(to left bottom, black, white);
    }
}